<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Info about book</title>
</head>
<body>
<p th:text="${'Title of the book: ' + books.getTitle()}">VALUE</p>
<p th:text="${'Author of the book: ' + books.getAuthor()}">VALUE</p>
<p th:text="${'Year of production: ' + books.getYear()}">VALUE</p>

<div th:if = "${owner}" >
    <span>Книга сейчас у </span> <span th:text = "${owner.getFirst_name() + ' ' + owner.getSurname() + ' ' + owner.getPatronymic()}" >Owner</span>
    <form th:method="Patch" th:action="@{/people/book/free/{book_id}(book_id=${books.getBook_id()})}">
        <input type = "submit" value="Освободить книгу">
    </form>

</div>

<div th:if= "${people}" >
    <span>Эта книга свободна. Кому назначить ее?</span>


<form th:method="POST" th:action="@{/people/book/add/{id}(id=${books.getBook_id()})}">

    <label for = "person">set person</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each = "person : ${people}" th:value= "${person.getId()}"
                th:text = "${person.getFirst_name() + ' ' + person.getSurname() + ' ' + person.getPatronymic()}"></option>
    </select>



<input type="submit" value = "Назначить книгу человеку">
</form >
</div>




<br/>
<hr/>
<a th:href="@{{book_id}/edit(book_id=${books.getBook_id()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/book/{book_id}(book_id=${books.getBook_id()})}" th:object="${books}">
    <input type="submit" value="Delete!"/>

</form>
</body>
</html>